.education > .heading {
  color: var(--accent);
  background-color: var(--primary);
  text-transform: capitalize;
  font-family: roboto-slab;
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.education > .p-tags {
  padding-inline: 8px;
  padding-block-start: 4px;
  color: var(--white-70);
  text-transform: capitalize;
  font-family: roboto;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 400;
}

.education > .p-tags > .date {
  color: var(--white);
  font-weight: 700;
}

.education > .p-tags > .name {
  color: var(--accent);
  font-weight: 700;
}

@media (width >= 480px) {
  .education > .p-tags {
    font-size: 16px;
  }
}

@media (width >= 580px) {
  .education > .heading {
    font-size: 24px;
  }
  .education > .p-tags {
    font-size: 18px;
    margin-block-start: 8px;
  }
}

@media (width >= 641px) {
  .education > .p-tags {
    font-size: 14px;
    margin-block-start: 7px;
  }
}

@media (width >= 800px) {
  .education > .p-tags {
    font-size: 17px;
  }
}

@media (width >= 1080px) {
  .education > .p-tags {
    font-size: 20px;
  }
}
