.projects > .heading {
  color: var(--white-70);
  border-bottom: 2px solid var(--primary);
  text-transform: capitalize;
  font-family: roboto-slab;
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

@media (width >= 580px) {
  .projects > .heading {
    font-size: 24px;
  }
}
