.skills {
  --javascript: #f7df1e;
  --pythone: #3776ab;
  --reactjs: #61dafb;
  --nodejs: #83cd29;
  display: flex;
  flex-direction: column;
}

.skills > .heading {
  font-family: roboto-slab;
  color: var(--white-70);
  border-bottom: 2px solid var(--white-20);
  text-transform: capitalize;
  font-family: roboto-slab;
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.skills > .graph {
  padding-inline: 8px;
  padding-block: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.skills > .graph > .pi-chart {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills > .graph > .pi-chart > .outer-circle {
  --size: 140px;
  background-image: conic-gradient(
    var(--javascript) 0deg 90deg,
    var(--pythone) 90deg 180deg,
    var(--reactjs) 180deg 270deg,
    var(--nodejs) 270deg 360deg
  );
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.skills > .graph > .pi-chart > .outer-circle > .labels {
  padding: 4px;
  position: absolute;
}

.skills > .graph > .pi-chart > .outer-circle > .labels > img {
  position: absolute;
  --size: 20px;
  width: var(--size);
  height: var(--size);
}

.skills > .graph > .pi-chart > .outer-circle > .labels::before {
  font-family: roboto;
  color: var(--white-70);
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}

.skills > .graph > .pi-chart > .outer-circle > .javascript::before {
  content: "javascript";
}
.skills > .graph > .pi-chart > .outer-circle > .javascript {
  top: -20%;
  right: -40%;
}
.skills > .graph > .pi-chart > .outer-circle > .javascript > img {
  top: 42%;
  left: -32%;
}

.skills > .graph > .pi-chart > .outer-circle > .python::before {
  content: "python";
}
.skills > .graph > .pi-chart > .outer-circle > .python {
  bottom: -20%;
  right: -26%;
}
.skills > .graph > .pi-chart > .outer-circle > .python > img {
  top: -18%;
  left: -52%;
  transform: scaleX(-1) rotateZ(188deg);
}

.skills > .graph > .pi-chart > .outer-circle > .reactjs::before {
  content: "react-js";
}
.skills > .graph > .pi-chart > .outer-circle > .reactjs {
  bottom: -20%;
  left: -28%;
}
.skills > .graph > .pi-chart > .outer-circle > .reactjs > img {
  top: -16%;
  right: -48%;
  transform: rotateZ(188deg);
}

.skills > .graph > .pi-chart > .outer-circle > .nodejs::before {
  content: "node-js";
}
.skills > .graph > .pi-chart > .outer-circle > .nodejs {
  top: -20%;
  left: -32%;
}
.skills > .graph > .pi-chart > .outer-circle > .nodejs > img {
  top: 42%;
  right: -42%;
  transform: scaleX(-1) rotateZ(10deg);
}

.skills > .graph > .pi-chart > .outer-circle > .inner-circle {
  width: calc(var(--size) * 0.8);
  height: calc(var(--size) * 0.8);
  background-color: var(--complementary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills > .graph > .pi-chart > .outer-circle > .inner-circle > img {
  width: 40%;
  height: 40%;
}

.skills > .graph > .markers {
  padding-block: 14px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.skills > .graph > .markers > p {
  color: var(--white-70);
  text-transform: capitalize;
  font-family: roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding-block: 4px;
  padding-inline-end: 14px;
  display: flex;
  align-items: center;
}

.skills > .graph > .markers > p::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-inline-end: 8px;
}

.skills > .graph > .markers > .javascript::before {
  background-color: var(--javascript);
}
.skills > .graph > .markers > .python::before {
  background-color: var(--pythone);
}
.skills > .graph > .markers > .reactjs::before {
  background-color: var(--reactjs);
}
.skills > .graph > .markers > .nodejs::before {
  background-color: var(--nodejs);
}

@media (width >= 480px) {
  .skills > .graph > .pi-chart > .outer-circle {
    --size: 148px;
  }

  .skills > .graph > .pi-chart > .outer-circle > .labels::before {
    font-size: 14px;
  }
  .skills > .graph > .markers > p {
    font-size: 16px;
  }
}

@media (width >= 580px) {
  .skills > .heading {
    font-size: 24px;
  }
  .skills > .graph > .markers > p {
    font-size: 18px;
  }
}

@media (width >= 641px) {
  .skills > .graph > .markers > p {
    font-size: 16px;
  }
}

@media (width >= 1080px) {
  .skills > .graph {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 120px;
  }
  .skills > .graph > .pi-chart {
    flex-grow: 0;
  }

  .skills > .graph > .pi-chart > .outer-circle {
    --size: 162px;
  }

  .skills > .graph > .pi-chart > .outer-circle > .labels::before {
    font-size: 16px;
  }

  .skills > .graph > .markers {
    flex-direction: column;
  }

  .skills > .graph > .markers > p {
    font-size: 22px;
  }
}
